<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/97f703eeb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="/js/handler.js" defer></script>
    <title>YellowIt</title>
</head>
<body>
    <!-- NAVIGATION -->
    <header class="global">
        <div class="off-screen-menu">
            <ul class="blur">
                <li><a href="/category">Categories</a></li>
               <li><a href="/user">Users </a></li>
                <% if (user) { %>
                <li><a href="/post/new">Create Post</a></li>
                <% } %>
            </ul>
        </div>
        <nav>
            <div class="left ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a class="logo" href="/post/">YellowIt</a>
            <div class="right">
                <% if (user) { %>
                <a href="/user/logout">
                    <i class="fa-solid fa-power-off"></i>
                    <span>Welcome, <%= user.username %>!</span>
                </a>
                <% } else { %>
                <a href="/user/login">
                    <i class="fa-solid fa-user"></i>
                    <span>Login</span>
                </a>
                <a href="/user/register">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Register</span>
                </a>
                <% } %>
            </div>
        </nav>
    </header>
    <main>
