<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YellowIt</title>
</head>
<body>
    <header>
   
        <div class="hamburger-menu"></div>
        <a href="/post/" class="centre-logo">YellowIt</a>
   <div class="top-right-nav">
    <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <a href="/user/logout">Logout</a>
    <% } else { %>
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    <% } %>
    </div>

    </header>
