<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/97f703eeb2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="/js/handler.js" defer></script>
    <title>YellowIt</title>
</head>
<body>
    <!-- <header>
   
        <div class="hamburger-menu">
            <a href="/category">Categories</a>
            <a href="/user">Users </a>
            <% if (user) { %>
            <a href="/post/new">
                <i class="fa-solid fa-pen"></i>
                <span>Create a Post</span>
            </a>
            <% } %>


        </div>


        <a href="/post/" class="centre-logo">YellowIt</a>

   <div class="top-right-nav">
    <% if (user) { %>
        <span>Welcome, <%= user.username %>! <a href="/user/logout">Logout</a></span>
        
    <% } else { %>
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    <% } %>
    </div>

    </header> -->
    <!-- NAVIGATION -->
    <header class="global">
        <div class="off-screen-menu">
            <ul class="blur">
                <a href="/category">Categories</a>
                <a href="/user">Users </a>
                <% if (user) { %>
                <a href="/post/new">Create Post</a>
                <% } %>
            </ul>
        </div>
        <nav>
            <div class="left ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="/post/">YellowIt</a>
            <div class="right">
                <% if (user) { %>
                <span>Welcome, <%= user.username %>! <a href="/user/logout">Logout</a></span>
                <% } else { %>
                <a href="/user/login">
                    <i class="fa-solid fa-user"></i>
                    <span>Login</span>
                </a>
                <a href="/user/register">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Register</span>
                </a>
                <% } %>
            </div>
        </nav>
    </header>
