<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createPost.css" />
    <title>YellowIT</title>
</head>
<body>
    <form action="/post" method="post" class="add-post-form">
        <label for="title" class="add-post-title-input">Title: </label>
        <input type="text" id="title">
        <label for="title" class="add-post-title-input">Title: </label>
        <input type="text" id="title">
        <label for="title" class="add-post-title-input">Title: </label>
        <input type="text" id="title">
    </form>
</body>
</html>