:root {
    --text-color: #fff;
    --link-color: #fca311;
    --background-color: #14213d;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Reddit Sans", sans-serif;
    background-color: var(--background-color);
    /* max-width: 1200px; */
    margin: 0 auto;
    text-transform: capitalize;
    margin: 0;
  background-color: #fdf8e1;
}

a {
    text-decoration: none;
    color: var(--link-color)
}

/* header {
  background-color: #fdf8e1;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  border-bottom: black 2px solid;
  position: sticky;
  top: 0;
} */

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 50px;
}

nav .left a {
    color: var(--text-color);
    font-weight: 600;
}

.off-screen-menu {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    color: transparent;
    height: 100vh;
    width: 100%;
    max-width: 440px;
    position: fixed;
    top: 0;
    left: -440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    left: 0;
}

.ham-menu {
    height: 25px;
    width: 25px;
    /* margin-right: auto; */
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius:  25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%)rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%)rotate(-45deg);
}
/* INDEX */

/* MEDIA QUERIES */
@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }
    
    nav .right span {
        display: none;
    }
}form > * {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 30%;
}
form label {
  text-align: center;
  display: block;
}

form input,
form textarea,
form button,
form select {
  padding: 5px;
  border-radius: 14px;
  display: block;
  text-align: center;
}
form select {
  background-color: white;
  width:20%;
  border: none;
  padding: 5px 1em;
}
.filter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.filter form {
    width: 100%;
}
