:root {
    --text-color: #fff;
    --link-color: #fca311;
    --background-color: green;
    --hover-color: #ffc300;
    --background-color: white;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Reddit Sans", sans-serif;
    background-color: var(--background-color);
    /* max-width: 1200px; */
    margin: 0 auto;
    text-transform: capitalize;
    background-color: white
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* header {
  background-color: #fdf8e1;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  border-bottom: black 2px solid;
  position: sticky;
  top: 0;
} */

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 50px;
}

nav .left a {
    color: var(--text-color);
    font-weight: 600;
}

.off-screen-menu {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    color: transparent;
    height: 100vh;
    width: 100%;
    max-width: 440px;
    position: fixed;
    top: 0;
    left: -440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    transition: .3s ease;
}

.blur > li {

    padding-bottom: 18px;
    
}

.off-screen-menu.active {
    left: 0;
}

.ham-menu {
    height: 25px;
    width: 25px;
    /* margin-right: auto; */
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius:  25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%)rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%)rotate(-45deg);
}

.logo{
    font-size: 28px;
    font-weight: 750;
}
/* INDEX */

/* SECTION LOGIN */
.login-section {
    text-transform: none;
    padding: 100px 50px;
    margin-bottom: 100px;
}

.login-section h2 {
    font-size: 35px;
}

.login-section .group {
    display: flex;
    gap: 1rem;
}

.login-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.login-section .group .text .links {
    margin-top: 1.3em;
}

.login-section .group .text .links a {
    padding: 10px 10px;
    border-radius: 5px;
    color: var(--link-color);
    transition: 0.3s;
}

.login-section .group .text .links a:hover {
    color: var(--hover-color);
}

.login-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section form label {
    display: block;
}

.login-section .group form input,
.login-section .group form textarea {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    outline: none;
    background: transparent;
    padding: 10px;
    margin-bottom: 15px;
}

.login-section .group form textarea {
    resize: none;
}

.login-section .group form button {
    background-color: var(--link-color);
    color: var(--text-color);
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.login-section .group form button:hover {
    filter: brightness(0.9);
}



form > * {
  margin-bottom: 8px;
  width: 30%;
}
form label {
  text-align: center;
  display: block;
  font-size: 20px;
}
form{
    margin-left: auto;
    margin-right: auto;
}

form input,
form textarea,
form button,
form select {
  padding: 5px 15px;
  border-radius: 14px;
  display: block;
  margin: 5px;
  min-width: max-content;
  font-family:  "Reddit Sans", sans-serif;
  font-size: 13px;
}

form textarea {
    width: 100%;
    height: 230px;
}
form select {
  background-color: white;
  width:20%;
  border: none;
  padding: 5px 1em;
}
.filter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.filters-form{
    display: flex;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
}
#login-button{
    display: inline
}
.image-input {
    margin-left: 118px;
}
#categories-drop-down{
    width: 40%;
    font-size: 15px;
    height: 130px;
    padding: 5px 10px;
    overflow: hidden;
    border: 2px solid black;
}
#selection-msg{
    font-size: 15px;
    font-weight: lighter;
    width: max-content;
}
#create-post-button{
    margin-top: 15px;
    margin-bottom: 40px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }
    
    nav .right span {
        display: none;
    }
}
@media (max-width: 740px) {
    .login-section .group {
        flex-direction: column;
        gap: 1rem;
    }
    .login-section {
        text-align: center;
    }
}


/* CATEGORIES AND USERS */

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; /* spacing between cards */
    padding: 1rem;
}

.card-grid a {
    text-decoration: none;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: center;
}
 .card > img{
    /* min-height: 120px; */
    width: 300px;
    /* max-height: 120px;
    max-width: 120px; */
 }