:root {
    --text-color: #232323;
    --link-color: #fca311;
    --hover-color: #ffc300;
    --background-color: #fff;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Reddit Sans", sans-serif;
  background-color: var(--background-color);
  /* max-width: 1200px; */
  margin: 0 auto;
  text-transform: capitalize;
  background-color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

 nav {
  background-color: white;
  padding: 40px 0;
  position: sticky;
  top: 0;
} 

/* NAVIGATION */
nav {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  align-items: center;
  height: 5rem;
  padding: 0 50px;
}

nav .left a {
  color: var(--text-color);
  font-weight: 600;
}

.off-screen-menu {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 0px 1rem 1rem 0px;
  color: transparent;
  height: 100vh;
  width: 40%;
  max-width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.blur > li {
  padding-bottom: 18px;
}

.off-screen-menu.active {
  left: 0;
}

.ham-menu {
  height: 25px;
  width: 25px;
  /* margin-right: auto; */
  position: relative;
  cursor: pointer;
}

.ham-menu span {
  height: 3px;
  width: 100%;
  background-color: red;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.logo {
  font-size: 28px;
  font-weight: 750;
  text-align: center;
}
/* INDEX */

/* SECTION LOGIN */
.login-section {
  text-transform: none;
  padding: 100px 50px;
  margin-bottom: 100px;
}

.login-section h2 {
  font-size: 35px;
}

.login-section .group {
  display: flex;
  gap: 1rem;
}

.login-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.login-section .group .text .links {
  margin-top: 1.3em;
}

.login-section .group .text .links a {
  padding: 10px 10px;
  border-radius: 5px;
  color: var(--link-color);
  transition: 0.3s;
}

.login-section .group .text .links a:hover {
  color: var(--hover-color);
}

.login-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section form label {
  display: block;
}

.login-section .group form input,
.login-section .group form textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  outline: none;
  background: transparent;
  padding: 10px;
  margin-bottom: 15px;
}

.login-section .group form .image-input {
    border: none;
    margin-right: 20px;
}

.login-section .group form textarea {
  resize: none;
}

.login-section .group form button {
    background-color: var(--link-color);
    color: var(--text-color);
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.login-section .group form input:nth-child(3) {
    border: none;
}

.login-section .group form button:hover {
  filter: brightness(0.9);
}

form > * {
  margin-bottom: 8px;
  width: 30%;
}
form label {
  text-align: center;
  display: block;
  font-size: 1rem;
}
form {
  margin-left: auto;
  margin-right: auto;
}

form input,
form textarea,
form button,
form select {
  padding: 5px 15px;
  border-radius: 14px;
  display: block;
  margin: 5px;
  min-width: max-content;
  font-family: "Reddit Sans", sans-serif;
  font-size: 13px;
}
form input:hover,
form textarea:hover,
form button:hover,
form select:hover {
  border-color: var(--hover-color);
  box-shadow: 0 0 10px var(--hover-color);
  outline: none;
}

form textarea {
  width: 100%;
  height: 230px;
}
form select {
  background-color: white;
  width: 20%;
  border: none;
  padding: 5px 1em;
}
.filter {
  display: flex;
  justify-content: center;
  width: 100%;
}
.filters-form {
  display: flex;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}
#login-button {
  display: inline;
}
.image-input {
  margin-left: 118px;
  border: none;
}
.image-input:hover{
    border-color:none;
  box-shadow: none;
  outline: none;
}
#categories-drop-down {
  width: 40%;
  font-size: 15px;
  height: 130px;
  padding: 5px 10px;
  overflow: hidden;
  border: 2px solid black;
}
#selection-msg {
  font-size: 15px;
  font-weight: lighter;
  width: max-content;
}
#create-post-button {
  margin-top: 15px;
  margin-bottom: 40px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  nav .right span {
    display: none;
  }
}
@media (max-width: 740px) {
  .login-section .group {
    flex-direction: column;
    gap: 1rem;
  }
  .login-section {
    text-align: center;
  }
}


/* CATEGORIES AND USERS */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem; 
  padding: 1rem;
}

.card-grid a {
  text-decoration: none;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 350px;
  height: auto;
  transition: transform 0.25s ease, box-shadow 0.25s ease;


}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
}

.card > img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}


/* HOME PAGE */

.posts-section {
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 20px;
  gap: 20px;
}
.blog-card {
  font-family: "figtree", sans-serif;
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: black 8px 8px;
}
.blog-card:hover {
  cursor: pointer;
}
.blog-card:hover .blog-card-title {
  color: hsl(47, 88%, 63%);
}
.blog-card-photo {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 120px;
}
.blog-card-photo-section {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 10px;
}
.category-heading {
  font-size: 10px;
  line-height: 1.5;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.category-heading-span {
  width: max-content;
  height: 22px;
  background-color: hsl(47, 88%, 63%);
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-right: 3px;
}
.published-date {
  color: hsl(0, 0%, 7%);
  font-weight: 500;
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
}
.blog-card-title {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  line-height: 1.5;
  font-size: 18px;

  margin-top: 5px;
  margin-bottom: 15px;
}
.blog-card-footer {
  display: flex;
  align-items: center;
  bottom: 0px;
  padding-bottom: 18px;
}
.profile-picture {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 10px;
  margin-top: 8px;
}
.account-name {
  display: inline;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 12px;
  line-height: 1.5;
  text-wrap: wrap;
  margin-top: 5px;
}
.likes {
  display: block;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
}
.blog-card-header {
  height: 50px;
  margin-bottom: 65px;
}
.categories-container {
  display: flex;
}

.single-post-container header {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.single-post-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#like-button {
  display: flex;
  margin: 0px;
  width: 10%;
}
.single-post-header-container {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.single-post-header-container header {
  margin-top: 20px;
}
.single-post-header-container img {
  width: 50%;
  margin-top: 20px;
  border-radius: 10px;
}
.single-post-main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 20px;
}
.comments-section {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.comment-container {
  width: 80%;
  padding: 8px;
}
.single-post-main a {
  display: flex;
}
#comment-content {
  width: 100%;
  height: 75px;
  resize: none;
}
