:root {
    --text-color: #fff;
    --link-color: #fca311;
    --background-color: green;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Reddit Sans", sans-serif;
    background-color: var(--background-color);
    /* max-width: 1200px; */
    margin: 0 auto;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: var(--link-color)
}

/* header{

    background-color: #fdf8e1;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    border-bottom: black 2px solid;
    position: sticky;
    top: 0;
} */

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 50px;
}

nav .left a {
    color: var(--text-color);
    font-weight: 600;
}

.off-screen-menu {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    color: transparent;
    height: 100vh;
    width: 100%;
    max-width: 440px;
    position: fixed;
    top: 0;
    left: -440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    left: 0;
}

.ham-menu {
    height: 25px;
    width: 25px;
    /* margin-right: auto; */
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius:  25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%)rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%)rotate(-45deg);
}
/* INDEX */
/* LOGIN */
.login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
/* SECTION 4: Contact */
.contact-section {
    padding: 0px 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group .text .links {
    margin-top: 1.3em;
    display: flex;
}

.contact-section .group .text .links a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    transition: 0.3s;
}

.contact-section .group .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section form label {
    display: block;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    outline: none;
    background: transparent;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-section .group form textarea {
    resize: none;
}

.contact-section .group form button {
    background-color: var(--link-color);
    color: var(--background-color);
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.contact-section .group form button:hover {
    filter: brightness(0.9);
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }
    
    nav .right span {
        display: none;
    }
}